@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  @apply bg-[#f0fdfa] w-[.7rem];
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-[.3rem];
}

section:not(.carousel) {
  @apply py-[5.5rem];
}

section:nth-child(2) {
  @apply pt-0 lg:pt-[5.5rem];
}

h1,
h2,
h3,
p,
strong {
  @apply text-secondary;
}

.wrapper {
  @apply container mx-auto;
}

.section-title {
  @apply relative flex flex-col items-center gap-4 text-2xl font-extrabold text-[1.8rem] mb-16 text-secondary z-[2] sm:text-4xl;
}

h2.section-title::after {
  @apply content-[''] w-[100px] h-[5px] bg-primary inline-flex items-center rounded-[5px];
}

.loader {
  @apply flex justify-center items-center rounded-[50%] w-[24px] h-[24px];
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.skeleton-loader {
  @apply w-full rounded-lg aspect-video absolute inset-0 m-auto;

  background-image: linear-gradient(
    90deg,
    #ddd 0%,
    #ddd 40%,
    #ccc 50%,
    #ccc 55%,
    #ddd 65%,
    #ddd 100%
  );
  background-size: 400%;
  animation: skeleton 1.5s infinite;
}

@keyframes skeleton {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}
