@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  @apply bg-[#f0fdfa] w-[.7rem];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[.3rem];

  background-image: -webkit-linear-gradient(
    top,
    #00bfa6,
    rgba(0, 191, 165, 0.3)
  );
}

section:not(.carousel) {
  @apply py-[4.75rem];
}

section:nth-child(2) {
  @apply pt-0 lg:pt-[5.5rem];
}

h1,
h2,
h3,
p,
strong {
  @apply text-secondary;
}

.wrapper {
  @apply container mx-auto;
}

.section-title {
  @apply relative flex justify-center items-center gap-2 text-2xl font-extrabold text-[1.8rem] mb-[5.25rem] text-secondary z-[2] sm:text-4xl;
}

h2.section-title::after {
  @apply content-[''] w-[110px] h-[5px] rounded-[5px] absolute bottom-[-1.35rem];

  background-image: -webkit-linear-gradient(
    left,
    #00bfa6,
    rgba(0, 191, 165, 0.22)
  );
}

h2.section-title::before {
  @apply content-[""] absolute w-[150px] h-[80%] bg-gradient-to-br from-[#00BFA6] to-[#63e6d2] z-[-1] opacity-90 blur-[60px];
}

.loader {
  @apply flex justify-center items-center rounded-[50%] w-[24px] h-[24px];
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.skeleton-loader {
  @apply w-full rounded-lg aspect-video absolute inset-0 m-auto max-h-[17rem] lg:max-h-[unset];

  background-image: linear-gradient(
    90deg,
    #ddd 0%,
    #ddd 40%,
    #ccc 50%,
    #ccc 55%,
    #ddd 65%,
    #ddd 100%
  );
  background-size: 400%;
  animation: skeleton 1.5s infinite;
}

@keyframes skeleton {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}
